#formulario{    /* los numerales se utilizan para los id y el punto para referirnoss a onjetos*/
    width: 50%;
    margin: 0 auto; 
    border: 1px solid rgb(7, 215, 243) ;
    text-align: center ;

}
#resultado{

    width: 50%;
    margin: 0 auto; 
    text-align: center;
    font-size: 50px;
    border: 1px solid rgb(0, 2, 2) ;
    font-family: Arial, Helvetica, sans-serif;
}
.cuadro{
    margin: 10px;
}
.botton{
    height: 70px;
    width: 70px;
    background-color: yellow;

}